body {
  background:black;
  background-size: 110% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;

}

/* Header */
header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 2%;
}



/* Hero sekcija */
.hero {
  text-align: center;
  padding: 3rem 1rem;
}

.hero h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  color: #ddd;
}

/* Dugme za meni */
.menu-button-container {
  text-align: center;
  margin: 2rem 0;
  
}

.menu-square {
  display: flex;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 110px;
  background-color: #2c2c2c;
  text-decoration: none;
  color: #fff;
  transition: transform 0.3s;
  margin: 0 auto;
  overflow: hidden;
}

.menu-square:hover {
  transform: scale(1.05);
}

.menu-logo {
  width: 300px;
  height: 300px;
  
  object-fit: cover;
}


/* Tim sekcija */
.team {
  padding: 2rem 1rem;
  margin-top: 2rem;
  margin-bottom: 100px;
}

.team-heading {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.team-member {
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(250, 193, 0, 0.1);
  text-decoration: none;
  color: #fff;
  transition: transform 0.3s;
}

.team-member:hover {
  transform: scale(1.05);
}

.team-member img {
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 3%;
}

.role {
  font-size: 14px;
  color: #ccc;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #111;
  color: #998;
  font-size: 0.9rem;
}
