<!DOCTYPE html>
<html lang="bs">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Meni Restorana</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style_meni.css') }}" />
</head>
<body>
  <h1>Meni Restorana</h1>

  <section class="menu-category">
    <h2 class="category-title">Dorucak</h2>

    <div class="menu-items">
      <div class="menu-box">
        <article class="menu-item">
          <img src="{{ url_for('static', filename='images/palačinke.jpg') }}" alt="Palačinke" />
          <div class="menu-item-content">
            <h3 class="menu-item-name">Palačinke</h3>
            <p class="menu-item-description">Palačinke sa eurokremom i čokoladom</p>
            <div class="menu-item-price">5 KM</div>
          </div>
        </article>
      </div>

      <div class="menu-box">
        <article class="menu-item">
          <img src="{{ url_for('static', filename='images/džem.jpg') }}" alt="Pekmez i puter" />
          <div class="menu-item-content">
            <h3 class="menu-item-name">Pekmez i puter</h3>
            <p class="menu-item-description">Tost sa pekmezom i puterom</p>
            <div class="menu-item-price">3 KM</div>
          </div>
        </article>
      </div>

      <div class="menu-box">
        <article class="menu-item">
          <img src="{{ url_for('static', filename='images/burek.jpg') }}" alt="Burek" />
          <div class="menu-item-content">
            <h3 class="menu-item-name">Burek</h3>
            <p class="menu-item-description">Burek sa sirom</p>
            <div class="menu-item-price">4 KM</div>
          </div>
        </article>
      </div>
    </div>
  </section>
</body>
</html>
