<!DOCTYPE html>
<html lang="bs">
<head>
    <meta charset="UTF-8">
    <title>Restoran Meni</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style_meni.css') }}">
</head>
<body>
     <header>
    <h1>Cafe Restoran Author – Zenica</h1>
    <p>Uživajte u našim specijalitetima</p>
  </header>

  <nav class="category-nav">
    <button data-category="dorucak">Doručak</button>
    <button data-category="salate">Salate</button>
    <button data-category="piletina">Piletina</button>
    <button data-category="teletina">Teletina</button>
    <button data-category="junetina">Junetina</button>
    <button data-category="pasta">Pasta</button>
    <button data-category="corbe">Čorbe</button>
    <button data-category="wok">Wok-Rižoto</button>
    <button data-category="burgeri">Burgeri</button>
    <button data-category="hladne-plate">Hladne plate</button>
    <button data-category="burger-menu">Burger meni</button>
    <button data-category="palacinke">Palačinci</button>
    <button data-category="pizza">Pizza</button>
    <button data-category="kolaci">Kolacicci</button>
  </nav>

  <section id="menu-section">
  </section>

  <footer>
    <p>📍 Sarajevska bb, Zenica | ☎ +387 32 408-000 | 🕒 07:00–23:00</p>
    <p>© 2025 Cafe Restoran Author</p>
  </footer>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
